<%- include("./partials/header") %>

    <div class="container my-4">
        <div class="card" style="max-width: 920px; margin: auto">
            <div class="card-header">
                <h3 class="text-center">Create Post</h3>
            </div>
            <form id="create-form">
                <div class="card-body mx-4">
                        <input type="text" name="title" placeholder="Post Title" class="form-control my2">
                        <textarea name="body" placeholder="Post Body" rows="10" cols="30" class="form-control my-2"></textarea>
                        <select name="category" class="form-control my-2">
                            <option>-- Select Post Category --</option>
                            <option value="misc">Miscellaneous</option>
                            <option value="javascript">JavaScript</option>
                            <option value="htmlandcss">HTML & CSS</option>
                            <option value="python">Python</option>
                            <option value="flutter">Flutter</option>
                            <option value="jobs">Jobs</option>
                        </select>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary" type="submit">Add Post</button>
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>

    </div>

    <script>
        const createForm = document.getElementById("create-form")

        createForm.addEventListener("submit", async(e) => {
            e.preventDefault()
            const title = createForm.title.value;
            const body = createForm.body.value;
            const category = createForm.category.value;

            try {
                const res = await fetch("/create", {
                    method: "POST",
                    body: JSON.stringify({ title, body, category}),
                    headers: {"Content-Type": "application/json"}
                })
                const data = await res.json()
                if (data.post) {
                    location.assign("/")
                }
            } catch (error) {
                console.log(error)
            }
        })
    </script>

<%- include("./partials/footer") %>